::-webkit-scrollbar {
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
 
.filler {
	height: 60px;
}
.starred {
	color: yellow;
}

.articleElement.read {
	color: #555;
	background-color: #bbb;
}

.articleBody {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", Arial, sans-serif;
}

.articleElement{
	background-color: #6699cc;
	color: #ffffff;
	width: 10%;
}

.optionSpanDiv {
	float: right;
	display: table-cell;
	text-align: left;
	width: 15%;
	vertical-align: middle;
}

.optionSpan{
	font-weight: bold;
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", Arial, sans-serif;
	display: inline-block;
	font-size: 200%;
	vertical-align: middle;
	padding-left: 7px;
}

.optButton{
	position: relative;
	height: 90%;
	display: inline-block;
	font-size: 200%;
	vertical-align: middle;
}

.logoImage{
	padding-left: 10px;
}

.loginElement{
	position: relative;
	-moz-box-shadow: inset 0px 1px 0px 0px #9bd;
	-webkit-box-shadow: inset 0px 1px 0px 0px #9bd;
	box-shadow: inset 0px 1px 0px 0px #9bd;
	background-color: #336699;
	display: block;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
	padding: 27px 30px;
	margin: 0 auto;
	margin-bottom: 10px; 
	vertical-align: middle;
	text-decoration: none;
}

.loginElement.selected{
	-moz-box-shadow: inset 0px 1px 0px 0px #fff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fff;
	box-shadow: inset 0px 1px 0px 0px #fff;
	color: #555;
	background-color: #ccc;
}

.logTitle{
	position: absolute;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	font-size: 120%;
	font-Weight: Bold;
	text-align: center;
}

.articleElement.selected {
	color: #fff;
	background-color: #888;
}


.articleElement.read.selected{
	background-color: #888;
}

root {
	overflow: hidden;
}

body {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", Arial, sans-serif;
}
