::-webkit-scrollbar {
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
 
.starred {
	color: yellow;
}

.articleElement.read {
	color: #555;
	background-color: #bbb;
}

.articleBody {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", Arial, sans-serif;
}

.articleElement{
	background-color: #6699cc;
	color: #ffffff;
	width: 10%;
}

.articleElement.selected {
	color: #ffffff;
	background-color: #888;
}


.articleElement.read.selected{
	background-color: #888;
}

body {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", Arial, sans-serif;
}
